.body-container {
    background-image: linear-gradient(60deg, #9A91D1, white);
    padding: 30px 20px;
}

.body-left{
width: 25%;
}

.body-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;

padding: 30px;
background-color: #FFFFFF;
border-radius: 21px;
}

.body-wrap {
    display: flex;
        justify-content: space-between;
        align-items: center;
}

.about-us{
    color: #F65038;
    font-weight: bold;
    font-size: 40px;
}

.about-content {
color: #4734A2;
    font-size: 20px;
}

.label {
    font-size: 16px;
    margin-top: 30px;
}

.input-group {
    width: 100%;
}

.body-right input {
    width: 100%;
    height: 46px;
    border-radius: 20px;
    border-style: solid;
    margin-top: 5px;
}

.send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 48px;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    background-color: #F65038;
    margin: 30px auto;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .body-left {
            width: 35%;
        }
    .body-right {
            width:300px ;
        }
}

@media only screen and (max-width: 768px) {
    .body-wrap {
        flex-direction: column;
        }

    .body-left {
        width: 100%;
    }

    .body-right {
        margin-top: 30px;
        width: 90%;
    }
}

@media only screen and (max-width: 425px) {

    .body-right input{
        height: 27px;
    }

        .send-btn {
            width: 100px;
            height: 30px;
        }
}