.header-container {
    width: 100%;
    background-color: #FFF8ED;
    padding: 10px 0px;
}

.bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.home {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    width: 222px;
}

.home-ch {
    color: #F65038;
}

.about-ch {
    color: #3C2695;
}

.quick {
    color: #F65038;
}

.funds {
    color:#9F98D7;
}

.sign {
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #F65038;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 48px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
}

.description {
    color:#F65038;
    font-size: 68px;
    font-weight: bold;
}

.detail {
    margin:20px 0px;
    color: #3C2695;
    font-size: 18px;
}

.sign-btn {
    cursor: pointer;
    width: 93px;
    height: 48px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    color: #F65038;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content-left {
    width: 45%;
}

.header-content-right {
    width: 45%;
    height: 637px;
    background-image: url("../../../public/static/images/logo.png");
    background-size: 100% 100%;
}

@media only screen and (max-width: 1024px) {
    .header-content-right {
        height: 450px;
    }

        .description {
            font-size: 40px;
        }
}

@media only screen and (max-width: 768px) {
    .logo {
            font-size: 25px;
        }

    .home {
            font-size: 20px;
            width: 150px;
        }

                .sign {
                    width: 70px;
                    height: 40px;
                    font-size: 13px;
                }

    .header-content {
        flex-direction: column;
            justify-content: space-between;
            margin: 100px 0px;
        }

                .header-content-left {
                    width: 100%;
                }
        
                .header-content-right {
                    margin-top: 40px;
                    width: 100%;
                }
}

@media only screen and (max-width: 425px) {
    .logo {
            font-size: 20px;
        }
    
        .home {
            font-size: 15px;
            width: 100px;
        }
    
        .sign {
            width: 50px;
            height: 30px;
            font-size: 10px;
        }

                .header-content {
                    margin: 50px 0px;
                }

    .header-content-right {
            height: 400px;
        }
}

@media only screen and (max-width: 375px) {
    .logo {
        font-size: 15px;
    }

    .home {
        font-size: 13px;
        width: 100px;
    }

    .sign {
        width: 40px;
        height: 25px;
        font-size: 8px;
    }

    .header-content {
        margin: 30px 0px;
    }

    .header-content-right {
        height: 400px;
    }
}