.footer-container {
    background-image: url("../../../public/images/footer.png");
    background-size: 100% 100%;
    padding: 100px 50px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-size: 30px;
    font-weight: bold;
}

.footer-left {
    width: 26%;
}

.footer-right {
    color: white;
}

.footer-content {
    color: white;
    margin: 15px 0px;
}

.contact-us {
    font-weight: bold;
    font-size: 22px;
}

.icon-wrap {
    font-size: 18px;
}

.icon-wrap span {
    display: inline-block;
    margin: 8px 0px;
}

@media only screen and (max-width: 768px) {
    .footer-wrap {
        flex-direction: column;
        align-items: flex-start;
        }

                .footer-left {
                    margin-bottom: 30px;
                    width: 70%;
                }
}